# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
cells/cells-training-tsec-mios/.editorconfig
cells/cells-training-tsec-mios/.gitignore
cells/cells-training-tsec-mios/cells-training-tsec-mios.js
cells/cells-training-tsec-mios/index.html
cells/cells-training-tsec-mios/index.js
cells/cells-training-tsec-mios/Jenkinsfile
cells/cells-training-tsec-mios/package.json
cells/cells-training-tsec-mios/README.md
cells/cells-training-tsec-mios/demo/demo.js
cells/cells-training-tsec-mios/demo/index.html
cells/cells-training-tsec-mios/demo/css/demo-styles.js
cells/cells-training-tsec-mios/src/CellsTrainingTsecMios-styles.js
cells/cells-training-tsec-mios/src/CellsTrainingTsecMios.js
cells/cells-training-tsec-mios/src/CellsTrainingTsecMios.scss
cells/cells-training-tsec-mios/test/cells-training-tsec-mios.test.js
cells/app-training-cards
cells/app-training-cards-dynamic
cells/cells-training-detail-card
cells/cells-training-list-card
cells/cells-training-list-card-dm
cells/cells-training-login
cells/cells-training-login-dm
cells/cells-training-theme
cells/cells-training-tsec-dm
